server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://mysql-db:3306/hotel_booking
    username: dev
    password: '123456@'
  application:
    name: booking-service
  cloud:
    config:
      uri: http://localhost:8888
      fail-fast: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
