server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/users/**
        - id: hotel-service
          uri: http://hotel-service:8082
          predicates:
            - Path=/hotels/**
        - id: booking-service
          uri: http://booking-service:8083
          predicates:
            - Path=/bookings/**

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
