server:
  port: 8080

spring:
  application:
    name: gateway-service
  config:
    import: optional:configserver:http://localhost:8888/

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/users/**
        - id: hotel-service
          uri: http://hotel-service:8082
          predicates:
            - Path=/hotels/**
        - id: booking-service
          uri: http://booking-service:8083
          predicates:
            - Path=/bookings/**
        - id: payment-service
          uri: http://payment-service:8084
          predicates:
            - Path=/payments/**

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
