server:
  port: 8081

spring:
  application:
    name: hotel-service
  datasource:
    url: jdbc:mysql://localhost:3306/hotel?useSSL=false&serverTimezone=UTC
    username: dev
    password: 123456@
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka