spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/BaoNguyen777/hotel-booking-system/hotel-config-repo
          default-label: main
          clone-on-start: true
server:
  port: 8888
