name: CI/CD Pipeline

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build & Test with Gradle
        run: ./gradlew clean build test --no-daemon

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jars
          path: '**/build/libs/*.jar'

  docker:
    runs-on: ubuntu-latest
    needs: build-test

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Images
        run: |
          for svc in config-server eureka-server gateway-service user-service hotel-service booking-service; do
            docker build -t ${{ secrets.DOCKER_USERNAME }}/$svc:latest ./$svc
            docker push ${{ secrets.DOCKER_USERNAME }}/$svc:latest
          done
